<!DOCTYPE HTML>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <p>
	<h1>
	  <%= @user.name %>
	</h1>
      </p>
      
      <p> 
	<%= link_to "New essay", newpost_path, class: "btn btn-large btn-primary" %>
      </p>
    </section>
  </aside>
  <div class="span8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
	<%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
